.reaction-button-container.reaction-button(data-value="thumbsup")
	.em.em-thumbsup
	if counts && counts.length
		.badge= counts['thumbsup']
.reaction-button-container.reaction-button(data-value="smiley")
	.em.em-smiley
	if counts && counts.length
		.badge= counts['smiley']
.reaction-button-container.reaction-button(data-value="smirk")
	.em.em-smirk
	if counts && counts.length
		.badge= counts['smirk']
.reaction-button-container.reaction-button(data-value="yum")
	.em.em-yum
	if counts && counts.length
		.badge= counts['yum']
.reaction-button-container.reaction-button(data-value="heart_eyes")
	.em.em-heart_eyes
	if counts && counts.length
		.badge= counts['heart_eyes']
.reaction-button-container.reaction-button(data-value="worried")
	.em.em-worried
		if counts && counts.length
			.badge= counts['worried']
.pull-right
	- var reactions = typeof reactions === 'function' ? reactions() : reactions
	if reactions
		for reaction in reactions
			.reaction
				- var thumb = reaction.resolvedProfiles[reaction.source].profile.photo.url
				img.profile-thumb(src= thumb)
