.reaction-button-container.reaction-button.greyscale(data-value="thumbsup")
	.em.em-thumbsup
	if counts && counts['thumbsup']
		.badge= counts['thumbsup']
.more-reactions
	.reaction-button-container.reaction-button(data-value="smiley")
		.em.em-smiley
		if counts && counts['smiley']
			.badge= counts['smiley']
	.reaction-button-container.reaction-button(data-value="smirk")
		.em.em-smirk
		if counts && counts['smirk']
			.badge= counts['smirk']
	.reaction-button-container.reaction-button(data-value="yum")
		.em.em-yum
		if counts && counts['yum']
			.badge= counts['yum']
	.reaction-button-container.reaction-button(data-value="heart_eyes")
		.em.em-heart_eyes
		if counts && counts['heart_eyes']
			.badge= counts['heart_eyes']
	.reaction-button-container.reaction-button(data-value="worried")
		.em.em-worried
			if counts && counts['worried']
				.badge= counts['worried']
	.reaction-button-container.reaction-button(data-value="cry")
		.em.em-cry
			if counts && counts['cry']
				.badge= counts['cry']
	.reaction-button-container.reaction-button(data-value="angry")
		.em.em-angry
			if counts && counts['angry']
				.badge= counts['angry']
	.reaction-button-container.reaction-button(data-value="rage")
		.em.em-rage
			if counts && counts['rage']
				.badge= counts['rage']
	.reaction-button-container.reaction-button(data-value="thumbsdown")
		.em.em-thumbsdown
		if counts && counts['thumbsdown']
			.badge= counts['thumbsdown']

.reaction-summary.pull-right
	if reactions
		for reaction, index in reactions
			if index < 2
				if index === 1
					= ', '
				a(href= '/profile?endoint=' + encodeURIComponent(reaction.source))= reaction.resolvedProfiles[reaction.source].profile.name
		if reactions.length > 2
			- var remainder = reactions.length - 2
			= ' and ' + remainder + ' other'
			if reactions.length > 2
				= 's'
