doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no, minimal-ui, viewport-fit=cover")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="apple-mobile-web-app-title" content="myAntiSocial.net")
		meta(name="format-detection" content="telephone=no")
		link(rel="apple-touch-icon" href="/images/logo.png")

		block seo
			
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

		if env === 'production'
			link(rel='stylesheet' href="/dist/css/AntiSocial.min.css")
		else
			link(rel='stylesheet' href="/dist/css/AntiSocial.css")

		link(rel='stylesheet' href="/dist/css/vis.min.css")

		block css
			
		style#override-styles(nonce= nonce type="text/css")
			
	body#document-body.offline.mdc-typography(data-jsclass="liveElementsController,modalLaunchController,aspectRatioController,constrainedController,liveTimeController,tagController")
		script(nonce= nonce).
			var result;
			var cookie=(result=new RegExp('(?:^|; )responsive=([^;]*)').exec(document.cookie))?decodeURIComponent(result[1]):null;
			if(cookie){document.body.className = document.body.className + ' ' + cookie;}
		
		include components/navigation-mdc

		#splash(style="position:fixed;top:0;left:0;right:0;bottom:0;text-align:center;background-color:#333;z-index:99999;")
			#splash-logo
				img(src="/images/logo.svg" height="200px" style="margin:0 auto;")
				| myAntiSocial.net

		include components/news-feed

		.scroll-viewport
			
			include components/modals.pug
			
			#content.navbar-margin(data-hijax="true")
				block content

			#tmks.mdc-layout-grid
				.mdc-layout-grid__inner
					.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.text-center
						span.
							Copyright &copy; Michael Rhodes 2017 All Rights Reserved. (code for this this project is licensed under the MIT License)

		#ajax-status.mdc-snackbar
			.mdc-snackbar__text
			.mdc-snackbar__action-wrapper
				button.mdc-snackbar__action-button(type="button")

		block controller

		script(src="/dist/js/jquery.min.js")
		
		if environment.RAVEN_DSN_PUBLIC
			script(src="https://cdn.ravenjs.com/3.13.1/raven.min.js" crossorigin="anonymous")
			script(nonce= nonce).
				Raven.config('#{environment.RAVEN_DSN_PUBLIC}').install();
				function handleRouteError(err) {
					Raven.captureException(err);
					Raven.showReportDialog();
				}

		script(src="/antisocial-notifications/socket.io.js")
			
		if environment.STRIPE_PK
			script(src="https://checkout.stripe.com/checkout.js")

		if env === 'production'
			script(src="/dist/js/AntiSocial.min.js")
		else
			script(src="/dist/js/AntiSocial.js")

		script(src="https://s3.amazonaws.com/myantisocial/xdomain_cookie.js")

		if needVIS
			script(src="/dist/js/vis.min.js")
				
		if environment.GOOGLE_MAPS_API_KEY
			script(src!= 'https://maps.googleapis.com/maps/api/js?key='+environment.GOOGLE_MAPS_API_KEY+'&libraries=geometry,places' async defer)

		script(nonce= nonce defer).
			var APIVersion = #{config.APIVersion};
			var doHomeServerRedirect = '#{config.doHomeServerRedirect}';

			(function ($) {
				$(document).ready(function() { bootMyAntiSocial(); });
			})(jQuery);
