p #{user} (#{email}) has invited you be friends on myAntiSocial.net

p= note

h4 If you do not already have a myAntiSocial account:
ul
	li 
		| View #{user}'s profile 
		a(href= url) Here
	li Complete the registration form to create an antiSocialNet account.
	
h4 If you do have a myAntiSocial account:
ul
	li Log on to your account.
	li Select your "friends" page.
	li Paste #{endpoint} into the "Add friend by Public Page URL" field.

h3 General information about myAntiSocial.net
ul
	li Total user control and ownership of content
	li Total user control over who sees what
	li No advertising, no data collection, no demographic information shared with corporations
	li Strong cryptography and signed messages for communication between servers that can only be decrypted by the target user
